body {
	background: rgb(24, 27, 39);
	font-family: poppins;
	background-size: cover;
	color: white;
}
img {
	height: 30px;
	width: 30px;
}
a {
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	transition: 0.1s ease-in;
	color: rgb(29, 74, 95);
}

a:hover {
	cursor: pointer;
	color: black;
}
.container {
	margin: 40px auto;
	max-width: 80rem;
	border: 5px    rgba(64, 85, 95, 0.2) solid;
	padding: 40px;
	border-radius: 10px;
}
.parent1 {
	width: min(95%, 70rem);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#searchbar {
	margin: 0 -80px 0 0;
}
.searchEngine input {
	padding: 5px 15px;
	margin-left: 2rem;
	border: none;
	background-color: rgba(255, 255, 255, 0.349);
	color: rgba(0, 0, 0, 0.726);
	border-radius: 16px;
	font-size: 0, 9rem;
	transition: 0.1s ease-out;
	width: 300px;
}
.searchEngine input::placeholder {
	color: rgba(255, 255, 255, 0.3);
}

#city-input:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.6);
}
.searchEngine input:hover::placeholder {
	color: rgba(0, 0, 0, 0.2);
}
.searchEngine input:focus {
	background-color: rgba(255, 255, 255, 0.5);
	color: rgb(12%, 14%, 20%);
	letter-spacing: 1px;
}
.icon {
	background: rgba(0, 0, 0, 0.4);
	content: "";
	width: 2.2rem;
	height: 2.2rem;
	border: none;
}
.icon:hover + .hide {
	display: block;
	position: absolute;
	top: 3.5rem;
	right: 27rem;
	color: white;
	font-weight: 100;
	font-size: 10px;
}
.hide {
	display: none;
}
#search-hover {
	position: absolute;
	top: 3.5rem;
	right: 31rem;

}
#search-icon {
	border-radius: 50%;
	position: relative;
	left: 1rem;
	top: -0.5rem;
}
#search-icon:hover {
	background: rgba(0, 0, 0, 0.6);
}
#search-icon:after {
	content: " ";
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	margin: -1px 0 0 -7px;
}
#search-icon:hover::after {
	width: 1.2rem;
	height: 1.2rem;
	background: rgba(255, 255, 255, 0.5);
	margin: -1px 0 0 -3px;
	top: 13px;
	left: 11px;
}
#current-location-icon {
	border-radius: 50% 50% 50% 0;
	transform: rotate(-45deg);
	border: none;
	position: relative;
	left: 1.1rem;
	bottom: 0.5rem;
}
#current-location-icon:hover {
	background: rgba(0, 0, 0, 0.6);
}

#current-location-icon:after {
	content: " ";
	border-radius: 50% 50% 50% 0;
	width: 1rem;
	height: 1rem;
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	margin: -3px 0 0 -14px;
}

#current-location-icon:hover::after {
	width: 1.2rem;
	height: 1.2rem;
	background: rgba(255, 255, 255, 0.5);
	margin: -1px 0 0 -3px;
	top: 12px;
	left: 8px;
}

.parent2 {
	display: grid;
	grid-template-columns: 2fr, repeat(14, 0.8fr);
	grid-template-rows: repeat(7, 2.5rem);
	gap: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 2rem;
	margin-inline: auto;
	grid-auto-flow: 1fr;
}

#big-circle {
	grid-column: 1/4;
	grid-row: 1/4;
	content: "";
	width: 19rem;
	height: 19rem;
	border-radius: 50%;

	z-index: 1;
}
#big-circle,
#temp-circle,
#now-temp,
#current-temp,
#current-icon,
#celsius,
#fahrenheit {
	grid-row: 1/7;
	grid-column: 1/5;
}
#now-icon {
	z-index: 20;
	grid-column: 2/3;
	grid-row: 2;
	width: 9rem;
	height: 9rem;
	position: relative;
	top: -14.5rem;
	left: 9.1rem;

}
#temp-circle {
	z-index: 3;
	grid-column: 2;
	grid-row: 5/7;
	content: "";
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	top: 0.8rem;
	left: 0.5rem;
}

#current-temp {
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 1.7rem;
	position: relative;
	top: 1.9rem;
	z-index: 20;
	font-weight: 200;
}
#now-temp {
	color: rgba(0, 0, 0, 0.733);
	font-weight: 200;
	display: block;
	position: absolute;
	margin: 35px 32px;
}
#current-sky {
    grid-column: 1;
    grid-row: 1/4;
    z-index: 2;
    content: "";
    width: 19rem;
    height: 19rem;
    position: relative;
    top: -18rem;
    left: -6rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
	transition: 0.2s ease-in;
	border: 0.1rem solid rgb(46, 46, 46);
}

#now-location,
#city #country {
	grid-column: 3/16;
	grid-row: 1;
	position: relative;
	left: -3rem;
}

.el2 {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 7px;
	word-spacing: 0.3rem;
	letter-spacing: 0.2rem;
	border: none;
	padding: 0.5rem 0.9rem;
	position: relative;
	align-self: center;
	right: -2rem;
	margin: 0 0 0 0;
}
#city {
	color: rgb(117, 117, 117);
	font-size: 1.4rem;
}
#country {
	font-size: 1rem;
	color: rgb(48, 47, 47);
}
#timestamp {
	grid-column: 3/16;
	grid-row: 2;

	border: none;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(107, 107, 107);
	font-size: 0.7rem;
	font-weight: 200;
	word-spacing: 0.3rem;
	letter-spacing: 0.25rem;
	padding: 0.3rem 0.9rem;
	margin: 0.5rem 0;
	position: relative;
	left: -3rem;
}

.lastUpdated, .localTimeText {
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;

}

.time, #local-time   {
	color: rgb(87, 118, 133);
	font-weight: 500;
	font-size: 0.7rem;
    font-weight: 200;
    word-spacing: 0.3rem;
    letter-spacing: 0.25rem;
}


#container-current-conditions {
	background-color: rgba(0, 0, 0, 0.1);
	grid-column: 3/16;
	grid-row: 3/6;
	display: grid;
	grid-template-columns: repeat(3, 1.5fr);
	grid-template-rows: repeat(3, 1fr);
	justify-content: left;
	border-radius: 7px;
	font-weight: 200;
	word-spacing: 0.1rem;
	letter-spacing: 0.05rem;
	font-size: 0.87rem;
	color: rgb(102, 102, 102);
	border: none;
	padding: 1rem;
	align-items: center;
	position: relative;
	left: -3rem;
	gap: 0.5rem;
}

.currently {
	grid-column: 1/5;
	grid-row: 1;
	color: rgb(46, 62, 70);
	font-size: 1.5rem;
	font-weight: 300;
	font-style: italic;
}
.nowTempFeelsLike {
	grid-column: 1;
	grid-row: 2;
	color: rgb(99, 131, 145);
	font-weight: 200;
	position: relative;
	top: -0.15rem;
	left: 0.1rem;
	font-style: italic;
}
#now-rain-icon {
	grid-column: 1;
	grid-row: 3;
}
#now-rain {
	grid-column: 1;
	grid-row: 3;
	position: relative;
	left: 2.5rem;
	color: rgb(32, 111, 184);
	font-weight: 400;
}
 #now-humidity-icon{
	grid-column: 2;
	grid-row: 3;
}
#now-humidity {
	grid-column: 2;
	grid-row: 3;
	position: relative;
	left: 2rem;
	color: rgba(255, 255, 255, 0.7);
}
#now-wind-icon {
	grid-column: 3;
	grid-row: 3;
	opacity: 0.7;
	position: relative;
	left: 0.3rem;
}
#now-wind {
	grid-column: 3;
	grid-row: 3;
	position: relative;
	left: 3rem;
	color: rgb(32, 111, 184);
	font-weight: 400;
}

#container-today-conditions {
	grid-column: 3/16;
	grid-row: 6;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(99, 131, 145);
	border-radius: 7px;
	word-spacing: 0.1rem;
	letter-spacing: 0.05rem;
	font-size: 0.87rem;
	font-weight: 300;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0 0 -1rem;
	position: relative;
	left: -3rem;
	align-items: center;

}
#text-today {
	grid-column: 1/5;
	position: relative;
	top: -0.2rem;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.8rem;
	font-weight: 200;
}
#sunrise-icon {
	grid-column: 1;
}
#sunrise-text {
	grid-column: 1;
	position: relative;
	left: 0.2rem;
}
#sunset-icon {
	grid-column: 2;
}
#sunset-text {
	grid-column: 2;
	position: relative;
	left: 0.2rem;
}
#now-pressure-icon {
	grid-column: 3;
}

#today-pressure-text {
	grid-column: 3;
	position: relative;
	left: 0.2rem;
}

.day {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1rem;
	border-radius: 7px;
}
.row {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.15rem;
	word-spacing: 1.5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: rgb(99, 131, 145);
	border-radius: 7px;
	margin: 0.3rem 0.6rem;
}
.forecast {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
	height: 8.7rem;
	position: relative;
	top: -1rem;
	padding: 0.4rem 0;
	margin: 0 4rem;
}
#forecast-temp-min{
color: rgba(54, 139, 236, 0.6);
}

#forecast-temp-max{
color: rgba(248, 155, 155, 0.6);
}
.forecastIcon {
	height: 3rem;
	width: 3rem;
}
.space {
    color: rgb(211, 211, 211);
}

footer {
	height: 13rem;
	text-align: center;
	line-height: 1rem;
	font-size: 0.65rem;
	font-weight: 200;
	background-color: rgba(0, 0, 0, 0.4);
	letter-spacing: 0.15rem;
	max-width: 100%;
	color: rgb(110, 149, 167);
	margin: 2rem 0 0;
	padding: 3rem 0;
	border-radius: 7px;
}